tmp/
build/
alicn-builder/
dist/

*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.sublime*
*.iml

run/
coverage/
cov/
logs/
node_modules/
target/

.DS_Store
.idea
dump.rdb
assembly/
app/proxy*
.node-diamond-client-cache
node_hsf_config_snapshots

mocks_data
mocks_data/proxy/**/__*
npm-debug.log*
products
app/public
.vscode/


.justconf
bin
.settings
.classpath
.project
